{% extends "layout.html" %}
{% block title %}History{% endblock %}

{% block main %}

    {% if not entries %}
        <h3 class = "mb-3">You haven't started writing yet</h3>
    {% else %}
        <h1 class = "mb-3">Letters sent you-</h1>
        <br><br>
        <!--Dynamic headings after the slides-->
        <div class="container marketing">
            <div class="row">
            {% for entry in entries %}
                <div class="col-lg-4">
                    <form action = "/article" method = "post">
                        <h3 class="fw-normal" id = "title">{{ entry.written_date }}</h3>
                        <p>{{ lines[loop.index0] }}</p>
                        <input type = "hidden" name = "entry_id" value = "{{ entry.letter_id }}">
                        <input type = "hidden" name = "user_id" value = "{{ entry.user_id }}">
                        <p><button class="btn btn-secondary" id = "read_btn" type = "submit">Read it!</button></p>
                    </form>
                </div>
                {% if (loop.index0 + 1) % 3 == 0 and not loop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
    

{% endblock %}