{% extends "layout.html" %}

{% block title%}Login{% endblock %}

{% block main %}
<h1>
      Login to your account !  
    </h1>
    <form action = "/login" method = "post">
        <div class = "username">
            <input type = "text" autofocus required autocomplete= "off" placeholder="User name" name="username">
            <br>
            <input type = "password" required autocomplete="off" placeholder="Password" name = "password">
            <br>
            <button type = "submit">Login</button>

        </div>
    </form>
{% endblock %}