{% extends "layout.html" %}
{% block title %}Writing Space{% endblock %}

{% block main %}

    <div class="wr_space">
        <div class="writing-container">
        <div class="space-head">
            <h1>Unfold Your Thoughts</h1>
        </div>
        
        <form action="/m" method="post">
            <div class="text-areas">
                <div class="page">
                    <textarea name="diary_entry" placeholder="Dear Diary..."></textarea>
                </div>
                <div class="page">
                    <textarea name="aura_response" placeholder="For Aura" readonly></textarea>
                </div>
            </div>
            
            <button type="submit" class="space-button">Save</button>
        </form>
    </div>
    </div>

{% endblock %}